@using MontefaroMatias.LayoutView.Elements
@using Microsoft.AspNetCore.Components.Rendering
@if(null==StaticView||null==view)
{
    <PageTitle>Vista</PageTitle>
    <p>There is nothing to draw here.</p>
}
else
{
    <PageTitle>@view.Name</PageTitle>
    <svg width="@view.Width" height="@view.Height" xmlns="http://www.w3.org/2000/svg">
        <rect width="100%" height="100%" fill="black" />
        <g transform="scale(@view.Scale.ToString(System.Globalization.CultureInfo.InvariantCulture)) translate(@view.X,@view.Y)">
            @StaticView;
        </g>        
    </svg>
}
@code 
{
    private RenderFragment getFragment(MontefaroMatias.LayoutView.Elements.Element rhs) 
    {
        if (null != rhs && null!=view)
            return builder => rhs.compose(builder, view);

        return new RenderFragment((builder) => { });
    }
    [Parameter]
    public View? view { get; set; }
    [Parameter]
    public RenderFragment? StaticView { get; set; }    
}
